canvas {
    display: block;
    margin: auto;
    border: 1px solid #000;
}
body {
    margin: 0;
    padding: 0;
}
/* 
#iframe {
    display: flex;
    overflow: hidden;
}

#responsiveSwitchIframe,
#responsiveLocationIframe {
    box-sizing: border-box;
}

#responsiveSwitchIframe {
    width: 100%; /* Sesuaikan dengan lebar yang diinginkan */
    /* height: 100%; /* Sesuaikan dengan tinggi yang diinginkan */
    /* border: none;
    transform: translate(50%, -50%);
} */ 


/* #responsiveLocationIframe {
    box-sizing: border-box;
    width: 100%; /* Adjust as needed */
    /* margin-right: 25%; Adjust the margin-right to shift it to the left */
    /* order: 2; Menetapkan urutan 2, sehingga akan tampil di atas #responsiveSwitchIframe */
/* } */
